**/*.[o]
**/*.lst
**/*.eep
**/*.elf
**/*.lss
**/*.map
**/*.sym
**/.dep
*~
**/info
**/windows_soft
**/*.atsln            
**/*.componentinfo.xml
**/*.cproj
**/Debug
**/Release
**/*.vs
**/burn.bat
**/examples.txt

            